@using MVC_Bartender_App.Models


@{
    ViewBag.Title = "Cocktails";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>


<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

    </div>
</body>
</html>
